<!doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_index.css') }}" />
</head>

<body>
    <title>Mapping checker</title>
    <div>
        <h2 style="text-align:center;">Controlla la coerenza del tuo file di mapping</h2>
        <img src="{{ url_for('static', filename='images/ARIA_logo.jpg') }}" alt="Aria logo" class="img">
    </div>
        
    
    <h3 style="text-align:center;">inserisci nel primo box il file di configurazione e nel secondo il file di mapping da validare</h3>
    <form method=post enctype=multipart/form-data> 
        <input type="file" name="file1">
        <input type="file" name="file2">
        <button formaction="/generate">Avvio validazione</button>
        <button formaction="/validate_agende_interne">Avvio validazione agende interne</button>
    </form>
    <h2 style="text-align:center;">Download template di esempio di un file di configurazione</h2>
    <form method=post>
        <button formaction="/send-example">Download template example</button>
    </form>
    <h2 style="text-align:center;">Servizio per i controlli post avvio</h2>
    <form method=post>
        <button formaction="/post-avvio-check">Apri servizio</button>
    </form>

    <h2 style="text-align:center;">LOG</h2>
    <pre id="output"></pre>
    <script>
        var output = document.getElementById('output');

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '{{ url_for('stream') }}');
        xhr.send();

        setInterval(function () {
            var lineBreak = "\n",
            text = xhr.responseText

            text = text.split(lineBreak).reverse().join(lineBreak);

            output.textContent = text;
        }, 1000);
    </script>

</body>

</html>