<!doctype html>
<html>

<head>
</head>

<body>
    <title>Mapping checker</title>
    <h2>Controlla la coerenza del tuofile di mapping</h2>
    <form method=post enctype=multipart/form-data> <input type=file name=file>
        <button formaction="/generate">Generate</button>
    </form>
    <h2>Download json template file example - MINI version</h2>
    <form method=post>
        <button formaction="/send-mini-example">Download mini template example</button>
    </form>
    <h2>Download json template file example - WORKING version</h2>
    <h3>Remember to insert user and pass inside the file before testing it</h3>
    <form method=post>
        <button formaction="/send-working-example">Download working template example</button>
    </form>
    <h2>LOG</h2>
    <pre id="output"></pre>
    <script>
        var output = document.getElementById('output');

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '{{ url_for('stream') }}');
        xhr.send();

        setInterval(function () {
            var lineBreak = "\n",
            text = xhr.responseText

            text = text.split(lineBreak).reverse().join(lineBreak);

            output.textContent = text;
        }, 1000);
    </script>

</body>

</html>