html {
    font-family: sans-serif;
  }

  

  form {
    width: 800px;
    margin: 0 auto;
  } 

  fieldset {
    background: rgb(226, 228, 228);
    border: 5px solid rgb(1, 50, 32);
  }

  .close {
    display: none;
  }

  .label_file {
    width: 40px;
  }